.md-header__button.md-logo {
  margin: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2rem;
}

